.main{
    height: 100vh;
    flex-direction: column;
    @media only screen and (max-width: 720px){
        h2{
            font-size: 2rem;
        }
    }
    &-title{
        
        text-transform: uppercase;
        @media only screen and (min-width: 1440px) {
            font-size: 6rem;
            line-height: 150%;
        }
        @media only screen and (max-width: 1180px) {
            font-size: 4rem;
            line-height: 150%;
        }
        @media only screen and (max-width: 800px) {
            font-size: 3.5rem;
        }
    }
    a{
        text-decoration: none;
        font-size: 2rem;
        font-family: $font-prim;
        font-weight: 700;
        color: whitesmoke;
        text-transform: uppercase;
        margin-top: 15rem;
        @media only screen and (min-width: 1440px) {
            font-size: 3.5rem;
        }
    }

}